# Database Config (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ticketbox

# Redis Config (Centralized Cache & Distributed Lock)
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ Config (Message Broker for asynchronous queue)
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# MeiliSearch Config (Full-text search for Events/Artists)
MEILI_HOST=http://localhost:7700
MEILI_MASTER_KEY=masterKey

# JWT Secret (Authentication)
JWT_SECRET=super-secret-key
JWT_EXPIRATION=3600s
